<h1><%= t ".title" %></h1>

<p><%= t ".paragraph1_text" %></p>

<%= link_to t(".linkto_rp_text"),
  edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t ".paragraph2_text" %></p>

<p><%= t ".paragraph3_text" %></p>
